@import 'tailwindcss';
@plugin '@tailwindcss/typography';

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}


@theme {
  --text-base: 0.875rem;
  --text-sm: 0.75rem;
}